@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  /* border: 1px solid #ff0000; */
}

.jumbotron {
  text-align: center;
  background-color: #ffff;
  padding: 16px 0 9px;
}

.personal-img img {
  width: 500px;
}

.top-wrapper {
  background-color: #93c78b;
  position: relative;
  text-align: center;
  padding: 120px 0;
  height: 600px;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.wave .shape-fill {
  fill: #bfdac9;
}

.profile-item {
  width: 350px;
  margin: 0 auto;
  color: #ffff;
}

.profile-item img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.profile-item h1 {
  margin: 0;
}

.profile-item p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}

#content {
  height: 500px;
  padding: 80px 0;
}

.introduction {
  float: left;
  width: 50%;
}

.profile-information {
  float: right;
  padding-left: 8px;
  width: 50%;
}

.text-bold {
  font-weight: bold;
}

.profile-information tr td {
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid #000;
}

footer {
  text-align: center;
  background-color: #85e3a6;
  padding: 30px 0 80px;
}

.media img {
  width: 70px;
  margin: 0 50px;
}
